/*#053B50 #176B87 #64CCC5 #EEEEEE*/

.header {
  background-color:#64CCC5 ;
}
.R13logo {
  height: 180px;
  display: inline-block;
}
.logo {
  height: 120px;
  display: inline-block;
  margin-left: 80px;
  margin-right: 80px;
}
.content {
  display: flex;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbarLink {
  color: black;
  text-decoration: none;
}
.register, .login {
  display: 'flex';
  flex-direction: column;
  align-items: 'center';
  width: '300px';
  margin: 'auto';
  margin-bottom: 50px;
}
.inputregister {
  width: 100%;
}
.inputlogin {
  width: 100%;
}
.inputText {
  width: 9rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.loginbutton {
  margin-top: 20px;
}
.custom-dropdown-toggle, .clear-filters-button {
  width: 200px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #176B87;
  }
.cardImg {
    margin: 0 auto;
    display: block;
}
.subtitle {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    overflow: hidden;
    justify-content: center;
}
.footer {
  display: flex;
  padding-top: 10px;
  background-color: #176B87;
  color: white;
  font-family: Arial;
  font-size: medium;
  height: 120px;
  align-items: flex-start;
}
.follow-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.icons {
  display: flex;
}
.space {
  margin-left: 10px;
}
.footerlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.contact-container {
  max-width: 400px;
  margin: auto;
  margin-right: 30px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container {
  display: flex;
  margin-bottom: 20px;
}
.heading {
  color: #333;
}

.info {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.feedback-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.nickname-input {
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.send {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.empty {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.feedback-sent {
  color: green;
  margin-top: 10px;
}

.lisaa, .poista {
  margin-left: 3px;
}

.oskori {
  margin-left: 10px;
}